@page "/shome"
@using ShikimoriSharp.Classes
@using ShikimoriSharp.Settings
@using Roulette.Models
@using Microsoft.IdentityModel.Tokens
@using ShikimoriSharp.Information
@using Genres = Roulette.Components.Pages.Shikimori.Genres
@using Studios = Roulette.Components.Pages.Shikimori.Studios
@using AnimeList = Roulette.Components.Pages.Shikimori.AnimeList
@inject ApiClientService ApiClientService

<PageTitle>Shikimori</PageTitle>

<Row Gutter="16">
    <Col Xs="24" Sm="12" Md="8">
    <Genres SelectedGenresChanged="OnSelectedGenresChanged" />
    </Col>
    <Col Xs="24" Sm="12" Md="8">
    <MinimalScoreComponent @bind-SelectedScore="_selectedScore"  />
    </Col>
    <Col Xs="24" Sm="12" Md="8">
    <RatingComponent @bind-SelectedValue="_selectedRating" />
    </Col>
</Row>
<Divider Orientation="left"></Divider>

<Row Gutter="16">
    <Col Xs="24" Sm="12" Md="8">
    <DurationComponent @bind-SelectedValue="_selectedDuration" />
    </Col>
    <Col Xs="24" Sm="12" Md="8">
    <Studios SelectedStudiosChanged="OnSelectedStudiosChanged" />
    </Col>
    <Col Xs="24" Sm="12" Md="8">
    <AnimeSelectKindComponent @bind-SelectedValue="_selectedKind" />
    </Col>
</Row>
<Divider Orientation="left"></Divider>

<YearSelectionComponent @bind-selectedFromYear="_selectedFromYear" @bind-selectedToYear="_selectedToYear" />

<p>Минимальная оценка: @_selectedScore</p>
<p>Возрастной рейтинг: @_selectedRating</p>
<p>Временной период: с @_selectedFromYear до @_selectedToYear</p>
<p>Выбранная длительность: @_selectedDuration</p>
<p>Выбранный вид: @_selectedKind</p>
<p>Выбранные жанры: @string.Join(", ", _selectedGenres)</p>
<p>Выбранные студии: @string.Join(", ", _selectedStudios)</p>
<Button OnClick="SendSelected">Roll!</Button>

<AnimeList Animes="_animes" />

@code {
    private string _selectedScore;
    private string _selectedFromYear;
    private string _selectedToYear;
    private string _season;
    private string _selectedRating;
    private string _selectedKind;
    private string _selectedDuration;
    private List<string> _selectedGenres = new List<string>();
    private List<string> _selectedStudios = new List<string>();
    private string _selectedOrder ="random";
    private int _limit = 5;
    private int _page = 1;
    private List<Anime> _animes;
    private void OnSelectedGenresChanged(List<string> selectedGenres)
    {
        _selectedGenres = selectedGenres;
    }
    private void OnSelectedStudiosChanged(List<string> selectedStudios)
    {
        _selectedStudios = selectedStudios;
    }
    
    private async Task<List<Anime>> SendSelected()
    {
        _season = $"{_selectedFromYear}";
        if (!_selectedToYear.IsNullOrEmpty())
        {
            _season += $"_{ _selectedToYear}";
        }
        string genres = string.Join(",", _selectedGenres);
        string studios = string.Join(",", _selectedStudios);

        var url = "anime/animes?" +
                  $"score={_selectedScore}&" +
                  $"rating={ _selectedRating}&" +
                  $"kind={_selectedKind}&" +
                  $"season={_season}&" +
                  $"studio={studios}&" +
                  $"genre={genres}&" +
                  $"duration={_selectedDuration}&" +
                  $"order={_selectedOrder}&" +
                  $"limit={_limit}&" +
                  $"page={_page}";
        var animes = await ApiClientService.GetAnimesAsync(url);
        _animes = animes;
        return animes;
  
        
    }
}